//Created by adrian on 24/5/15.

extends layout

block content
   div.container(style='text-align: center')
      h1(style='marginBottom: 30px;') Welcome #{user.name}
      a.btn.btn-primary.btn-large(href='/users/#{user._id}/edit') API specifications
      a.btn.btn-primary.btn-large(href='/users/#{user._id}/delete') API specifications
      a.btn.btn-primary.btn-large(href='/users/#{user._id}') View user info
      a.btn.btn-primary.btn-large(href='/') API specifications